<div class="container">
  <!-- Sección de subir archivos -->
  <div class="upload-section d-flex justify-content-center align-items-center w-100 my-3">
    <div class="w-75">
      <div class="row">
        <div class="col m-2">
          <label for="formFile" class="form-label">Sube tus archivos</label>
          <div class="row mb-3 rounded-5 pt-3 pb-3" style="background-color: #f8f9fa;">
            <div class="col-md-8 d-flex justify-content-center align-items-center">
              <input class="form-control rounded-5" type="file" id="formFile" (change)="seleccionarArchivo($event)"
                accept=".pdf,.docx">
            </div>
            <div class="col-md-4 d-flex justify-content-center align-items-center">
              <button class="btn btn-primary border-0 rounded-3" style="background-color: #A55EB9;"
                (click)="subirArchivo()">Visualizar</button>
            </div>
          </div>
        </div>
        <div class="col m-2">
          <label for="formFile" class="form-label">O también</label>
          <div class="row mb-3 rounded-5 pt-2 pb-2" style="background-color: #f8f9fa;">
            <div class="col-md-8 d-flex justify-content-center align-items-center">
              <label for="urlpublica" class="form-label">URL Pública:</label>
              <input type="text" class="form-control rounded-5" id="urlpublica" name="urlpublica"
                [(ngModel)]="urlPublica">
            </div>
            <div class="col-md-4 d-flex justify-content-center align-items-center">
              <button class="btn btn-primary border-0 rounded-3" style="background-color: #A55EB9;"
                (click)="verDocx()">Visualizar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="viewer-section w-100">
    <ng-container>
      @if (archivoCargado && esPdf){
      <div>
        <div id="visor" class="text-center">
          <h2 style="color: #8A8A8A;">Estás viendo el archivo: {{ nombreArchivo }}</h2>
          <ngx-extended-pdf-viewer [src]="urlArchivo ? urlArchivo : ''"
            style="width:100%; height:600px;"></ngx-extended-pdf-viewer>
        </div>
      </div>
      }
    </ng-container>
    <ng-container>
      @if(archivoCargado && !esPdf){
      <div>
        <div id="visor" class="text-center">
          <h2 style="color: #8A8A8A;">Estás viendo el archivo: {{ nombreArchivo }}</h2>
          <div [innerHTML]="urlArchivo"></div>
          <!-- <iframe [src]='urlPrueba' width="1000px" height="1000px" frameborder="0"></iframe> -->
        </div>
      </div>
      }
    </ng-container>
    <ng-container>
      @if(esPublica){
      <div id="visor" class="text-center">
        <ngx-doc-viewer [url]="urlPublica ? urlPublica : ''" viewer="google" style="width:100%; height:100vh;">
        </ngx-doc-viewer>
      </div>
      }
    </ng-container>
  </div>
</div>
